.CharacterList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15vw;
  justify-content: center;
  transform: translateY(-15vh);
  .CharacterCard {
    position: relative;
    padding: 0;
    margin: 0.5em;
    border: 0.2em solid #00000000;
    color: white;
    font-size: large;
    height: 400px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    a {
      height: inherit;
      display: inline-block;
    }
    .CardTitle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #00000080;
      padding: 1rem;
      color: white;
      h4 {
        margin: 0;
      }
    }
    .CardTitle { //Cut Corner
      -webkit-clip-path:  polygon(
        0 0,
        0 80%,
        15% 100%,
        85% 100%,
        100% 80%,
        100% 0
      );
      clip-path: polygon(
        0 0,
        0 80%,
        15% 100%,
        85% 100%,
        100% 80%,
        100% 0
      );
    }
    .Thumbnail {
      height: inherit;
      width: inherit;
      img {
        height: inherit;
        width: inherit;
      }
    }
  }
  .CharacterCard:hover {
    border: 0.2em solid $active_color;
    border-top-width: 0;
    color: white;
    .CardTitle {
      background-color: $active_color;
    }
  }
  .HearthIcon{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    transform: scale(2);
    z-index: 9;
    span {
      color: white;
    }
    span.faved {
      color: $blood_color;
    }
    span:hover {
      color: $blood_color !important;
      stroke: $blood_color !important;
      fill: $blood_color !important;
    }
  }
}