*{
  user-select: none;
}

@font-face {
  font-family: 'PalookaBold';
  src: url('./../../public/PalookaBold.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000000;
  overflow-x: hidden;
}

h1,
h2,
h4,
h5 {
  color: inherit;
  text-shadow: 2px 2px 1px #600000;
}

a {
  color: $active_color;
}

a:hover, a:link, a:visited, a:active {
  color: $active_color_transparent;
}

.AppContainer {
  text-align: center;
  color: $marvel_logo_white;
  position: relative;
}

.Loading {
  color: white;
}

button, input {
  background-color: #000000;
  padding: 0.5rem;
  border: 2px solid #222222;
  color: white;
  font-size: large;
  margin: 1rem;
  pointer-events: all;
}

@media (max-width: 768px) {
  .Loading img {
    width: 100%;
  }
}
