*{
  user-select: none;
}

@font-face {
  font-family: 'PalookaBold';
  src: url('./../../public/PalookaBold.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000000;
  overflow-x: hidden;
}

h1,
h2,
h4,
h5 {
  color: inherit;
  font-family: PalookaBold;
  font-size: 1.9rem;
  text-shadow: 1px 1px 1px gray;
}

.AppContainer {
  text-align: center;
  margin-top: 1rem;
  color: $marvel_logo_white;
  translate: 0 -15vh;
}

.Loading {
  color: white;
}

button, input {
  background-color: #000000;
  padding: 0.5rem;
  border: 2px solid #222222;
  color: white;
  font-size: large;
  margin: 1rem;
  pointer-events: all;
}

@media (max-width: 768px) {
  .Loading img {
    width: 100%;
  }
}
