




// Header
$header_height: 35vw;

// Character Card
$active_color: rgb(135, 10, 10);
$active_color_transparent: rgba(135, 10, 10, .7);
$blood_color: #800000; // Web Safe Blood Color Code for Hearth Icon

// BottomBar
$bottombar_background: #000000;
$bottombar_border: rgb(19, 19, 19);

// Drawer
$drawer_background: #000000;
$drawer_border: rgb(19, 19, 19);