nav.bottombar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $marvel_red;
    color: $marvel_logo_white;
    border-top: 2px solid $marvel_red_2;
  }
  
  nav.bottombar ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  nav.bottombar li {
    display: inline-flex;
    padding: .4rem 1rem;
  }
  
  nav.bottombar li a {
    color: $marvel_logo_white;
  }
  
  nav.bottombar li:hover {
    background-color: $marvel_red_2;
  }