nav.bottombar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bottombar_background;
  color: white;
  border-top: 2px solid $bottombar_border;
  display: none;
  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    li {
      display: inline-flex;
      padding: 0.4rem 1rem;
      a {
        color: white;
      }
    }
    li:hover {
      background-color: $bottombar_background;
    }
  }
}

@media (max-width: 768px) {
  nav.bottombar {
    display: block;
  }
}